# Google Sheets
GOOGLE_CREDS='{
  "type": "service_account",
  "project_id": "your_project_id",
  "private_key_id": "your_private_key_id",
  "private_key": "-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n",
  "client_email": "your_client_email",
  "client_id": "your_client_id",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/your_email",
  "universe_domain": "googleapis.com"
}'
GOOGLE_SHEET_ID="https://docs.google.com/spreadsheets/d/1M71YRJLtF0M38JqNPcluWHtznG0_bnLC-ik3wtde7z8/edit?gid=360305866#gid=360305866"

# Stripe
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...

# Bookla
BOOKLA_API_KEY=your_bookla_key
BOOKLA_COMPANY_ID=your_company_id

# Webflow
WEBFLOW_API_TOKEN=your_webflow_token
WEBFLOW_SITE_ID=your_site_id

# Security
SYNC_SECRET=your_secure_random_string
